@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
=======================================================
Globales
=======================================================
*/
:root {
    --base-clr: #253f70;
    --line-clr: #42434a;
    --hover-clr: #6591bdf0;
    --text-clr: #e6e6ef;
    --accent-clr: #0064c8;
    --secondary-text-clr: #b0b3c1;
    --color-primary-light: #1A4A89; 
    --background-primary: #ffffff;
    --btn-yellow: #ffcb66;
}

body {
    @apply font-montserrat;
}
/* 
=======================================================
Login
=======================================================
*/

.error-message {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: red;
    font-size: 0.875rem;
    background-color: #ffe6e6;
    padding: 0.5rem;
    border: 1px solid red;
    border-radius: 5px;
    margin-top: 0.25rem;
    z-index: 10;
}

.form-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.2s 0.7s ease-in-out;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field--login {
    position: relative;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: flex;
    align-items: center;
}

.input-field--login i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 20px;
}

.input-field--login input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.customInput {
    width: calc(100% - 3rem);
    border: none;
    outline: none;
    font-size: 1rem;
}

.btn__login {
    display: inline-block;
    text-align: center;
    font-size: 1rem;
}


.btn__login:hover {
    background-color: var(--color-primary-light);
}

.shadow-custom {
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

/* 
=======================================================
Loading element
=======================================================
*/

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 
=======================================================
Admin
=======================================================
*/

.body__admin {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--background-primary);
}

.main__admin {
    padding: min(30px, 7%);
}

.main__admin p{
    color: var(--accent-clr);
    padding-top: 5px;
    padding-bottom: 15px;
}

.container__admin {
    border-radius: .5rem;
    margin-bottom: 20px;

    padding: min(3em, 15%);

    h2 {margin-top: 1em;}
}

@media(max-width: 800px) {
    .body__admin {
        grid-template-columns: 1fr;
    }
    .main__admin {
        padding: 2em 1em 60px 1em;
    }
    .container__admin {
        border: none;
        padding: 1rem;
    }
    #sidebar {
       height: 60px;
       width: 100%;
       border-right: none;
       border-top: 1px solid #42434a;
       padding: 0;
       position: fixed;
       top: unset;
       bottom: 0;

       > ul {
        padding: 0;
        display: grid;
        grid-auto-columns: 60px;
        grid-auto-flow: column;
        align-items: center;
        overflow-x: auto;
       }

       ul li {
        height: 100%;
       }

       ul a, ul .dropdown-btn {
        width: 60px;
        height: 60px;
        padding: 0;
        border-radius: 0;
        justify-content: center;
       }
       
       ul li span, ul li:first-child, .dropdown-btn svg:last-child{
        display: none;
       }

       ul li .sub-menu.show {
        position: fixed;
        bottom: 60px;
        left: 0;
        box-sizing: border-box;
        height: 60px;
        width: 100%;
        background-color: var(--hover-clr);
        border-top: 1px solid var(--line-clr);
        display: flex;
        justify-content: center;

        > div {
            overflow-x: auto;
        }

        li {
            display: inline-flex;
        }
        a {
            box-sizing: border-box;
            padding: 1em;
            width: auto;
            justify-content: center;
        }
       }
    }
}

/* 
=======================================================
Admin Home
=======================================================
*/

/* .home {
  padding: 20px;
}

.dashboard {
  display: flex;
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.card .icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  margin: 5px 0;
}

.card button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card button:hover {
  background-color: #0056b3;
} */